.buttons-container {
    width: 25vw;
    height: 30vh;
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.buttons-container {
    text-align: center;
    margin-top: 20px;
}

.button {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 15px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}